@font-face {
    font-family: 'Pacifico-Regular';
    src: url('berkshireswash-regular-webfont.eot');
    src: url('berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('berkshireswash-regular-webfont.ttf') format('truetype'),
         url('berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'berkshire_swashregular';
    src: url('berkshireswash-regular-webfont.eot');
    src: url('berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Pacifico-Regular.ttf') format('truetype'),
         url('berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'Roboto Slab';
    src: url('berkshireswash-regular-webfont.eot');
    src: url('berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Regular.ttf') format('truetype'),
         url('berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'Bree Serif';
    src: url('berkshireswash-regular-webfont.eot');
    src: url('berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('BreeSerif-Regular.ttf') format('truetype'),
         url('berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'Dancing Script';
    src: url('berkshireswash-regular-webfont.eot');
    src: url('berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('DancingScript-Bold.ttf') format('truetype'),
         url('berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
    font-weight: normal;
    font-style: normal;


}

