




/* fin personalizacion */
* {
  margin: 0;
  padding: 0;   
   
}


h1 {
  }

h2 {
  margin-bottom: 40px;
  }

#wrapper {
  padding: 20px;
  }

p,h3,h4,pre {
  text-align: left;
  max-width: 540px;
  margin: 0 auto 20px;
  }

.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.callbacks_tabs {
  list-style: none;
  padding: 0;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 431px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.callbacks_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.callbacks_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }   

.callbacks_tabs li:first-child {
  margin-left: 0;
  }

.callbacks_tabs .callbacks_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }

.footer {
  font-size: 11px;
  }

/* Callback example */

/*h3 {
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  }*/


.events {
  list-style: none;
  }


.callbacks_container {
  margin-bottom: 10px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  padding: 0;
}

#slider3-pager li a img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#slider{
  }

#slider1{
  position: relative;
}

#slider1 li img{
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#slider3-pager li img{
  width: 120px;
  height: 100%;
}




@media screen and (min-width: 768px) {

  #slider3-pager li a:hover{
    transform: scale(1.4,1.4);
    margin-left: 28px;
    margin-right: 20px;
  }

  #slider3-pager li a{
    transition: transform 1.5s, margin-left 1.5s, margin-right 1.5s;

  }
}



#slider3-pager .callbacks_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager{
  list-style: none;
  position: relative;
  left: -50%;
}

#auxiliar{
   float: left;
  position: relative;
  left: 50%;
}

.clear{
  clear: both;
}


@media screen and (max-width: 768px) {
  h1 {
   
    }
  .callbacks_nav {
    top: 47%;
    }

    #slider3-pager li img{
      width: 90px;
      height: 100%;
    }


      .box-slider{
  overflow-x: hidden;
    }

  }

  @media screen and (min-width: 768px) {
  
    .box-slider{
  
    }

}

